<p>THIS LIBRARY IS CURRENTLY IN DEVELOPMENT SO THE DOCUMENT IS NON EXISTING. HOWEVER, BELOW IS AN OVERVIEW OF WHAT ALREADY EXISTS... JUST IN CASE :-)</p>

<h1>Messages</h1>

<div class="flex-column gap-1 flex-wrap">
  <ngx-ui-message color="primary">
    <ng-container *ngx-ui-message-title>I'm the title</ng-container>
    <ng-container *ngx-ui-message-content>I'm the content</ng-container>
  </ngx-ui-message>

  <ngx-ui-message color="success" icon="check-circle" iconBrush="r">
    <ng-container *ngx-ui-message-title>I'm the title</ng-container>
    <ng-container *ngx-ui-message-content>I'm the content</ng-container>
  </ngx-ui-message>

  <ngx-ui-message color="information" icon="info">
    <ng-container *ngx-ui-message-title>I'm the title</ng-container>
    <ng-container *ngx-ui-message-content>I'm the content</ng-container>
  </ngx-ui-message>

  <ngx-ui-message color="warning" icon="exclamation">
    <ng-container *ngx-ui-message-title>I'm the title</ng-container>
    <ng-container *ngx-ui-message-content>I'm the content</ng-container>
  </ngx-ui-message>

  <ngx-ui-message color="error" icon="times" [dismissable]="true">
    <ng-container *ngx-ui-message-title>I'm the title</ng-container>
    <ng-container *ngx-ui-message-content>I'm the content</ng-container>
  </ngx-ui-message>
</div>

<h1>Icons</h1>

<div class="flex-row gap-1 flex-wrap">
  <ngx-ui-icon icon="bell"></ngx-ui-icon>
  <ngx-ui-icon icon="bell" brush="r"></ngx-ui-icon>
  <ngx-ui-icon icon="bell" brush="r" [fw]="false"></ngx-ui-icon>
  <ngx-ui-icon icon="spinner" animation="spin"></ngx-ui-icon>
  <ngx-ui-icon icon="bell" color="error"></ngx-ui-icon>
</div>

<h1>Buttons</h1>

<div class="flex-row gap-1 mb-1 flex-wrap">
  <button ngx-ui-button color="primary">Primary</button>
  <button ngx-ui-button color="secondary">Secondary</button>
  <button ngx-ui-button color="success">Success</button>
  <button ngx-ui-button color="information">Information</button>
  <button ngx-ui-button color="warning">Warning</button>
  <button ngx-ui-button color="error">Error</button>
</div>

<div class="flex-row gap-1 mb-1 flex-wrap">
  <button ngx-ui-button color="primary" icon="bell">Bell</button>
  <button ngx-ui-button color="secondary" icon="cloud">Cloud</button>
  <button ngx-ui-button color="success" icon="check">Check</button>
  <button ngx-ui-button color="information" icon="info">Info</button>
  <button ngx-ui-button color="warning" icon="exclamation">Exclamation</button>
  <button ngx-ui-button color="error" icon="times">Times</button>
</div>

<div class="flex-row gap-1 mb-1 flex-wrap">
  <button ngx-ui-button color="primary" icon="bell" iconPosition="right">Bell</button>
  <button ngx-ui-button color="secondary" icon="cloud" iconPosition="right">Cloud</button>
  <button ngx-ui-button color="success" icon="check" iconPosition="right">Check</button>
  <button ngx-ui-button color="information" icon="info" iconPosition="right">Info</button>
  <button ngx-ui-button color="warning" icon="exclamation" iconPosition="right">Exclamation</button>
  <button ngx-ui-button color="error" icon="times" iconPosition="right">Times</button>
</div>

<div class="flex-row gap-1 mb-1 flex-wrap">
  <button ngx-ui-button color="primary" icon="bell"></button>
  <button ngx-ui-button color="secondary" icon="cloud"></button>
  <button ngx-ui-button color="success" icon="check"></button>
  <button ngx-ui-button color="information" icon="info"></button>
  <button ngx-ui-button color="warning" icon="exclamation"></button>
  <button ngx-ui-button color="error" icon="times"></button>
</div>

<div class="flex-row gap-1 mb-1 flex-wrap">
  <button ngx-ui-button color="primary" icon="bell" [light]="true">Primary</button>
  <button ngx-ui-button color="secondary" icon="cloud" [light]="true">Secondary</button>
  <button ngx-ui-button color="success" icon="check" [light]="true">Success</button>
  <button ngx-ui-button color="information" icon="info" [light]="true">Information</button>
  <button ngx-ui-button color="warning" icon="exclamation" [light]="true">Warning</button>
  <button ngx-ui-button color="error" icon="times" [light]="true" icon="times">Error</button>
</div>

<div class="flex-row gap-1 mb-1 flex-wrap">
  <button ngx-ui-button color="primary" icon="bell" iconBrush="s">Primary</button>
  <button ngx-ui-button color="primary" icon="bell" iconBrush="r">Secondary</button>
</div>

<div class="flex-row gap-1 mb-1 flex-wrap">
  <button ngx-ui-button color="primary" icon="bell" iconAnimation="spin">Primary</button>
  <button ngx-ui-button color="primary" icon="bell" iconAnimation="pulse">Secondary</button>
</div>

<div class="flex-row gap-1 mb-1 flex-wrap">
  <button ngx-ui-button color="primary" [isDisabled]="true">Primary</button>
  <button ngx-ui-button color="secondary" [isDisabled]="true">Secondary</button>
  <button ngx-ui-button color="success" [isDisabled]="true">Success</button>
  <button ngx-ui-button color="information" [isDisabled]="true">Information</button>
  <button ngx-ui-button color="warning" [isDisabled]="true">Warning</button>
  <button ngx-ui-button color="error" [isDisabled]="true">Error</button>
</div>

<div class="flex-column gap-1 mb-1 flex-wrap">
  <button ngx-ui-button color="primary" size="xs">xs</button>
  <button ngx-ui-button color="secondary" size="s">s</button>
  <button ngx-ui-button color="success" size="m">m</button>
  <button ngx-ui-button color="information" size="l">l</button>
  <button ngx-ui-button color="warning" size="xl">xl</button>
  <button ngx-ui-button color="error" size="fw">fw</button>
</div>

<h1>Badges</h1>

<div class="flex-row gap-1 mb-1 flex-wrap">
  <ngx-ui-badge [value]="50" color="primary"></ngx-ui-badge>
  <ngx-ui-badge [value]="50" color="success"></ngx-ui-badge>
  <ngx-ui-badge [value]="50" color="information"></ngx-ui-badge>
  <ngx-ui-badge [value]="50" color="warning"></ngx-ui-badge>
  <ngx-ui-badge [value]="50" color="error"></ngx-ui-badge>
</div>


<div class="flex-row gap-1 mb-1 flex-wrap">
  <ngx-ui-badge [value]="50" [max]="100" color="primary"></ngx-ui-badge>
  <ngx-ui-badge [value]="50" [max]="25" color="success"></ngx-ui-badge>
</div>
